// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

// Variables
@import 'variables';

// Layout
@import 'layout';

// Content
@import 'content';

// Buttons
@import 'buttons';

// Text
@import 'text';

// Menus
@import 'menus';

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: $whiteColor;
}
