// ****************** Default Layout ******************

.admin_layout_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0 15px;

    color: $blueColor;
    background-color: $grayColor;

    border-bottom: 1px solid $borderColor;
}


.admin_layout_content {

    padding: 15px;

    color: $textColor;

    overflow-y: auto;
}

// ****************** Mobile Layout ******************

@media screen and (max-width: $smallDisplay) {

    .admin_layout_header {
        justify-content: center;
    }

}