// ****************** Default Layout ******************

.index_layout_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px;

    color: $blueColor;
    background-color: $grayColor;
    border-bottom: 1px solid $borderColor;
}

.index_layout_content {
    padding: 15px;

    color: $textColor;

    overflow-y: auto;
}

.admin_layout_logo {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $blueColor;
    background-color: $grayColor;

    border-right: 1px solid $borderColor;

    .logo_title {
        font-size: 24px;
    }

    .logo_icon {
        font-size: 24px;
        display: none;
    }
}

.admin_layout_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0 15px;

    color: $blueColor;
    background-color: $grayColor;

    border-bottom: 1px solid $borderColor;
}

.admin_sidebar_menu {
    background-color: $grayColor;

    border-right: 1px solid $borderColor;

    overflow-y: auto;
}

.admin_layout_content {
    padding: 15px;

    color: $textColor;

    overflow-y: auto;
}

.error_layout_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $textColor;
}


// ****************** Tablet and Mobile Layout ******************

@media screen and (max-width: $mediumDisplay) {

    .index_layout_header {
        flex-direction: column;
        justify-content: space-around;
    }

    .admin_layout_logo {
        .logo_title {
            display: none;
        }

        .logo_icon {
            display: block;
        }
    }

}


// ****************** Mobile Layout ******************

@media screen and (max-width: $smallDisplay) {

    .admin_layout_logo {
        border: none;

        .logo_title {
            display: block;
        }

        .logo_icon {
            display: none;
        }
    }

    .admin_layout_header {
        justify-content: center;
        border-bottom: none;
    }

}
