// ****************** Default Layout ******************

.admin_sidebar_menu {
    padding: 15px;

    overflow-y: auto;

    .menu_toggle_btn {
        color: $blueColor;
        display: none;
    }

    .menu_item {
        display: flex;
        align-items: center;

        padding: 15px;

        color: $textColor;

        font-size: 18px;
        text-decoration: none;

        cursor: pointer;

        &:hover {
            color: lighten($textColor, 15%);
        }

        .menu_icon {
            flex: 0;

            margin-right: 15px;

            font-size: 18px;

            color: $textColor;
        }

        .menu_title {
            flex: 1;
        }
    }
}


// ****************** Tablet Layout ******************

@media screen and (min-width: $smallDisplay) and(max-width: $mediumDisplay) {
    .admin_sidebar_menu {

        .menu_item {

            .menu_icon {
                margin-right: 0;
            }

            .menu_title {
                display: none;
            }
        }

    }
}


// ****************** Mobile Layout ******************

@media screen and (max-width: $smallDisplay) {
    .admin_sidebar_menu {
        border-left: 1px solid $borderColor;

        .menu_toggle_btn {
            display: block;

            text-align: right;
        }

        &.closed {
            border: none;

            .menu_item {
                display: none;
            }
        }

    }
}
