// ****************** Default Layout ******************

.admin_sidebar_menu {

    padding: 15px;

    border-right: 1px solid $borderColor;

    overflow-y: auto;

    background-color: $grayColor;

    .admin_logo {
        text-align: center;
        padding: 25px 0;

        .logo_title {
            font-size: 24px;
            color: $blueColor;
        }

        .logo_icon {
            font-size: 24px;
            color: $blueColor;
            display: none;
        }

    }

    .menu_toggle_btn {
        color: $blueColor;
        display: none;
    }

    .menu_item {
        display: flex;
        align-items: center;

        padding: 15px;

        color: $textColor;

        font-size: 18px;
        text-decoration: none;

        cursor: pointer;

        &:hover {
            color: lighten($textColor, 15%);
        }

        .menu_icon {
            flex: 0;

            margin-right: 15px;

            font-size: 18px;

            color: $textColor;
        }

        .menu_title {
            flex: 1;
        }
    }
}


// ****************** Tablet Layout ******************

@media screen and (min-width: $smallDisplay) and(max-width: $mediumDisplay) {
    .admin_sidebar_menu {

        .admin_logo {

            .logo_title {
                display: none;
            }

            .logo_icon {
                display: block;
            }

        }

        .menu_item {

            .menu_icon {
                margin-right: 0;
            }

            .menu_title {
                display: none;
            }
        }

    }
}


// ****************** Mobile Layout ******************

@media screen and (max-width: $smallDisplay) {
    .admin_sidebar_menu {

        &.closed {

            .menu_item {
                display: none;
            }
        }

        .menu_toggle_btn {
            display: block;

            text-align: right;
        }

        .admin_logo {
            padding: 5px 0;
        }

        .menu_item {
            text-align: center;

            .menu_icon {
                display: none;
            }
        }

    }
}
