// ****************** Default Layout ******************

.sidebar_menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 15px;

    .menu_item {
        display: flex;
        align-items: center;

        padding: 15px;

        color: $textColor;

        font-size: 18px;
        text-decoration: none;

        cursor: pointer;

        &:hover {
            color: lighten($textColor, 15%);
        }

        .menu_icon {
            flex: 0;

            margin-right: 15px;

            font-size: 18px;

            color: $textColor;
        }

        .menu_title {
            flex: 1;
        }
    }
}


// ****************** Tablet Layout ******************

@media screen and (min-width: $smallDisplay) and(max-width: $mediumDisplay) {
    .sidebar_menu {
        align-items: center;

        .menu_item {

            .menu_icon {
                margin-right: 0;
            }

            .menu_title {
                display: none;
            }
        }
    }
}


// ****************** Mobile Layout ******************

@media screen and (max-width: $smallDisplay) {
    .sidebar_menu {
        align-items: center;

        .menu_icon {
            display: none;
        }

        &.closed {
            .menu_item {
                display: none;
            }
        }
    }
}
