// Colors
$blueColor: #60CCF4;
$grayColor: #f9fafb;
$whiteColor: #FFF;
$borderColor: rgba(0,0,0,.0625);
$textColor: #72777a;


// Displays
$smallDisplay: 425px;
$mediumDisplay: 768px;
$largeDisplay: 1024px;
$extraLargeDisplay: 320px;




