// ****************** Default Layout ******************

.admin_layout_logo {
    grid-area: admin_logo;
}

.admin_layout_header {
    grid-area: admin_header;
}

.admin_sidebar_menu {
    grid-area: sidebar_menu;
}

.admin_layout_content {
    grid-area: admin_content;
}

.admin_layout_container {
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 300px auto;
    grid-template-rows: 100px auto;

    grid-template-areas:
        "admin_logo admin_header"
        "sidebar_menu admin_content";
}


// ****************** Tablet and Mobile Layout ******************

@media screen and (max-width: $mediumDisplay) {

    .admin_layout_container {
        grid-template-columns: 80px auto;
        grid-template-rows: 100px auto;
    }
}


// ****************** Mobile Layout ******************

@media screen and (max-width: $smallDisplay) {

    .admin_sidebar_menu {
        grid-column: 2 / 4;
        grid-row: 1 / 4;

        z-index: 1;

        &.closed {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }
    }

    .admin_layout_container {
        grid-template-columns: 50px auto 50px;
        grid-template-rows: 50px 100px auto;

        grid-template-areas:
            "admin_logo admin_logo sidebar_menu"
            "admin_header admin_header admin_header"
            "admin_content admin_content admin_content";
    }

}
