// ****************** Default Layout ******************

.admin_layout_container {
    width: 100vw;
    height: 100vh;

    display: flex;

    .admin_sidebar_menu {
        flex: 0;
        flex-basis: 300px;
    }

    .admin_layout_content_wrapper {
        flex: 1;

        display: flex;
        flex-direction: column;

        .admin_layout_header {
            flex: 0;
            flex-basis: 100px;
        }

        .admin_layout_content {
            flex: 1;
        }
    }
}




// ****************** Tablet and Mobile Layout ******************

@media screen and (max-width: $mediumDisplay) {
    .admin_layout_container {

        .admin_sidebar_menu {
            flex-basis: 50px;
        }

    }
}


// ****************** Mobile Layout ******************

@media screen and (max-width: $smallDisplay) {

    .admin_layout_container {
        flex-direction: column;

        .admin_sidebar_menu {
            flex-basis: auto;


        }

    }

}
