// ****************** Default Layout ******************

.index_layout_container {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    .index_layout_header {
        flex: 0;
        flex-basis: 100px;
    }

    .index_layout_content {
        flex: 1;
    }

}



// ****************** Tablet and Modile Layout ******************

@media screen and (max-width: $mediumDisplay) {

    .index_layout_container {

        .index_layout_header {
            flex-basis: 150px;
        }

    }

}
